@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body{
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #cacac3;
}


.bg-red{
  background-color: #f7656a;
  color: #fff;
}

.scroll{
  height: 100%;
  overflow: auto;
}

.curser{
  cursor: pointer;
}

.active{
  color: yellow !important;
}